{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<h1 class="text-left">DETAIL</h1>
{% comment %} <a href="{% url 'articles:index' %}">목록으로 가기</a> {% endcomment %}
  {% comment %} <p>글 번호: {{article.pk}}</p> {% endcomment %}
  <h1>게시글 제목: {{article.title}}</h1>
  <p>게시글 내용: {{article.content}}</p>
  {% comment %} <p>작성일: {{article.created_at|naturaltime}}</p> {% endcomment %}
   <p>작성일: {{article.created_at}}</p>
   <p>수정일: {{article.updated_at}}</p>
  {% comment %} <p>수정일: {{article.updated_at|naturaltime}}</p> {% endcomment %}
  <a href="{% url 'articles:update' article.pk %}">EDIT</a>
  <a href="{% url 'articles:delete' article.pk %}">DELETE</a>
  <hr>
  <a href="{% url 'articles:new'%}">BACK</a>
  {% comment %} <form action="{% url 'articles:delete' article.pk%}" method = "POST"> {% endcomment %}
  {% comment %} <input type="submit" class = "btn btn-danger"value= '삭제하기'> {% endcomment %}
    {% csrf_token %}
  </form>
{% endblock content %}