* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 200px auto;
}
.bg_today{
  background-color: darkgreen;
}
.textcenter{
  text-align: center;
}
img{
  display: block;
/* 예상치못한 블록이 생겼을 경우, 디스플레이로 해결! */
}
.card{ 
  border-style: dashed;
  border-width: thin;
  width: 700px;
}
/* .imagecenter{
  text-align:center;
}
.m-18{
  margin: 18px;
} */
.card-header{
  text-align: center;
  margin: 18px;
  width:664px;
}
.h-330 {
  height: 330px;
  width: 664px;
}

.card-img-description{
  background-color: limegreen ;
  height : 70px;
  color: white;
  /* font-size: 10px; */
}
h4 {
  font-size: 20px;
  font: bold;
}
.card-body-title{
  display:flex;
  justify-content:space-between;
  align-items : center;
  
}
.card-body-content{
  background-color: white;
  padding: 18px;
  margin-top: 18px;
}

.card-footer {
  background-color: brown;
  text-align: right;
  color: white;
  /* padding */
}