.card{ 
  border-style: dashed;
  border-width: thin;
  width: 700px;

.card-img{
  height 330px;
  width: 100px;
}
.card-img-description {
  background
}

h4 {
  font-size:20px;
  font-weight:bold;
  font font-family: Arial;
  
}
.card-body{
  margin:18px;
}
.card-body-title *{
  display: inline;
}
/* 한줄로 표시!! */

.card-body-title > p {
  position:absolute;
  right:0;
}
/* <날짜만 우측으로.. p가 무엇?> */
.card-body-title {
  display:flex;
  justify-content:space-between;
  align-items : center;
}

.card-body-content{
  background-color: white;
  padding: 18px;
  margin-top: 18px;
}

.card-footer {
  background-color: brown;
  text-align: right;
  color: white;
  padding

}
