<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .done{
            text-decoration: line-through;
        }
    </style>
</head>
<body>
    <input type="text">
    <button> 제출</button>
    <ul></ul>
    
    <script>
    const myinput = document.querySelector('input') //함수에서 빼주느까 되네
    function addTodo () {
    const myli = document.createElement('li')
    const content = myinput.value
    if (content) {
    myli.innerText = content
    const myul = document.querySelector('ul')
    myul.appendChild(myli)
    //delete
    const deleteButton = document.createElement('button')
    deleteButton.innerText = 'X'
    myli.appendChild(deleteButton)
    deleteButton.addEventListener('click', function () {
        myli.remove()
    }) 
    myinput.value = ''
    // update
    myli.addEventListener('click' , function(event){
    if (event.target.classList.contains('done')){
        event.target.classList.remove('done')
    } else {
        event.target.classList.add('done')
    }
    })
    }else {
        alert('할 일을 입력해주세요!')
        }
    }
    const button  = document.querySelector('button')
    button.addEventListener('click', addTodo)
    myinput.addEventListener('keydown', function (event){
        if (event.code === 'Enter') {
            addTodo()
        }
    })
     </script>
</body>
</html>