{% extends 'base.html' %}

{% block content %}
<h1 class="text-left">NEW</h1>
{% comment %} 좌측상단에 생성 {% endcomment %}
<form action="{% url 'articles:create' %}" method = "POST">
{% csrf_token %}
<hr>
<label for="title">Title</label>
<input type="text" name = 'title' id = "title">
<hr>
<label for="content">Content:</label>
<br>
<textarea name="content" id="content" cols="30" rows="10"></textarea>
<hr>
<input type="submit" value = "작성">
</form>
<a href="{% url 'articles:index' %}">BACK</a>
{% endblock content %}

