<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <form action="/create/" method= "GET">
  <label for="title">Title : </label>
  <input type="text" name= "title" id= "title">
  <label for="content">Content : </label>
  <input type="text" name="content" id="content">
  <label for="my-site">My-Site : </label>
  <input type="text" name = "my-site" id="my-site">
  <input type="submit">
  </form>
  
  
  </form>
</head>
<body>
  {% for menu in menus %}
  <p>{{ menu}}</p>
  {% endfor %}
  {% for post in posts %}
  <p>{{post}}번 글 : {{post}}</p>
  {% endfor %}
  {% for user in users %}
    <p>{{ user }}</p>
  {% empty %}
    <p>현재 가입한 유저가 없습니다.</p>
  {% endfor %}
{% comment %} 
  {% if forloop.first%}
    <p>첫 번째 반복문입니다.</p>
  {% elif %}
    <p>첫 번째 반복문이 아닙니다.</p>
  {% endif %} {% endcomment %}
<p>{{'hello'|length}}</p>
<p>{{'my name is tom'|title}}</p>



</body>
</html>